main {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  flex-wrap: wrap;

}

main>img {
  animation: slideInLeft 1.2s ease-out forwards;
  opacity: 0;
  /* Garante que comece invisível até a animação acontecer */
}

main section {
  max-width: 700px;
  max-height: 300px;
}

main h1 {
  margin-bottom: 75px;
  margin-top: 20px;
  animation: fadeInDown 1.2s ease forwards;
  /* Usa a nova animação */

}

main section p {
  margin-bottom: 16px;
  /* Espaçamento entre os parágrafos */
  line-height: 1.6;
  /* Espaçamento entre linhas dentro do parágrafo */
}

#cv {
  display: flex;
  width: 150px;
  height: 70px;
  background-color: var(--secondary);
  font-size: 32px;
  color: black;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#cv:hover {
  background-color: var(--highlight);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
    /* Começa de cima */
    font-size: var(--title2);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    /* Vai para o lugar original */
    font-size: var(--title1);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
    /* Vem da esquerda */
  }

  to {
    opacity: 1;
    transform: translateX(0);


  }
}