.resume {
    padding: 70px;
  }
  
  .resume-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
  }
  
  .resume-section {
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 8px;
    animation: slideInResume 1s ease-out forwards;

  }
  @keyframes slideInResume {
    from {
      background-color: var(--sur);
      opacity: 0;
      transform: translateY(-30px);
      font-size: var(--title2);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      font-size: var(--paragraph);
      background-color: var(--primary);

    }
  }
  
  .resume-section h3 {
    margin-bottom: 15px;
    font-size: 1.4rem;
    color: #000;
  }
  
  .item {
    margin-bottom: 15px;
    
  }
  
  .item .year {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  ul {
    margin-left: 20px;
    line-height: 1.5;
  }
  
  .skills li {
    margin-bottom: 8px;
  }
  
  .resume-section p {
    line-height: 1.6;
  }
  
  